@media screen and (max-width:991px) {
    header {
        position:absolute;
        flex-direction: column;
    }
    .autotext{
        margin-top:100px;
        margin-left:30px;
    }
    .auto img{
        left:10000px;
    }
   .produce{
        margin-top:30px;
    }
    .free{
        margin:20px auto;
        min-width:90%;
    }
    .login{
        margin:20px auto;
        min-width:90%;
    }
    .function{
        flex-direction: column;
    }
    .ourclient img{
        width:20%;
    }
    .comment{
        position:absolute;
        display:none;
    }
}
